{% extends 'base.html' %}

{% load mathfilters %}

{% block title %} | Dashboard {% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Dashboard</h1>
                <p class="lead">Your Holiday</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Dashboard</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<section id="dashboard" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ user.first_name }}'s Dashboard</h2>
                <br>
                {% if bookings %}
                {% for booking in bookings %}

                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="row">
                        <div class="col">
                            <strong>Destination:</strong> {{ booking.destination }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <strong>Price:</strong> €{{ booking.cost}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-secondary btn-sm" href="{% url 'destination' booking.destination_id %}
                                ">View Listing</a>
                            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#inquiryModal">Cancel
                                Holiday</button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="inquiryModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="inquiryModalLabel">Cancel Your Holiday</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                            </div>
                            {% if bookings %}
                            <div class="modal-body">
                                <div class="alert alert-warning alert-dismissible fade show">
                                    <strong>Warning!</strong> There is a 15% deduction penalty fee for
                                    cancellations.

                                </div>
                                <label for="booking"></label><strong>Destination:</strong> {{ booking.destination }}
                                <br>
                                <label for="booking"></label><strong>Total Paid:</strong> €{{ booking.cost }}
                                <br>
                                <label for="booking"></label><strong>Return Sum:</strong>
                                €{{ booking.get_cost |floatformat:2}}
                                <div class="row">
                                    <div class="col">
                                        <br>
                                        <a href="{% url 'cancel_holiday' booking.ref_code booking.destination %}"
                                            class="btn btn-block btn-danger"">Confirm Cancellation</a>
                                    </div>
                                </div>

                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>


                {% endfor %}
                {% else %}
                You have no booked holidays.
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}